<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<style>
    .grafiki {
        width: 100%;
    }

    .text {
        font-size: 20px;
    }
</style>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" aria-current="page" href="{% url 'index' %}">Home</a>
            </div>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 3rem">
    <div class="row " style="overflow: auto;">
        {{ table|safe }}
        <div class="col-4">
            <p class="text">Среднеквадратичное отклонение: <br>Y: {{ std_y }}, X: {{ std_x }}</p>
            <p class="text">Линейный коэффициент корреляции: {{ corr_coef }}</p>
            <p class="text">Зависимость между коррелированными отношениями: {{ corr_level }}</p>
            <p class="text">Средней ошибки коэффициента корреляции: {{ stderr_corr_coef }}</p>
            <p class="text">Коэффициента корреляции на значимость: {{ significance }}</p>
            <p class="text">При уровне значимости:{{ alpha }}</p>
            <p class="text">Нахождение табличного значения: {{ t_alpha }}</p>
            <p class="text">Коэффициент Спирмена: {{ spearman_corr }}</p>
            <p class="text">Уровень между признаками: {{ corr_level2 }}</p>
            <p class="text">Эластичность: {{ elasticity }}</p>
            <p class="text">Средняя ошибка аппроксимации: {{ approx_error }}</p>
            <p class="text">Общая дисперсия: {{ total_var }}</p>
            <p class="text">Факторная дисперсия: {{ factor_var }}</p>
            <p class="text">Остаточная дисперсия: {{ res_var }}</p>
            <p class="text">Проверка общей дисперсии: {{ var_check }}</p>
            <p class="text">Теоретический коэффициент детерминации: {{ determination_coef }}</p>
            <p class="text">Теоретическое корреляционное отношение: {{ corr_ratio }}</p>
            <p class="text">Зависимость между коррелированными отношениями: {{ rel_level }}</p>
            <p class="text">F-критерий Фишера: {{ f_score }}</p>
            <p class="text">При уровне значимости:{{ alpha }}</p>
            <p class="text">F - табличное: {{ f_critical }}</p>
            <input type="submit" value="Скачать pdf" class="btn btn-default" onClick="window.print()">
            <a href="document.docx" target="_blank">Скачать docx</a>
        </div>
        <div class="col-8">
            <img src="../plot.svg" width="100%">
        </div>
    </div>
</div>

</body>
</html>
